<h1>Sub Clubs</h1>

<% @sub_clubs.each do |sub_club| %>
  <div>
	  <strong><em><%= link_to sub_club.name, sub_club %></em></strong>
	  <%= sub_club.description %>
	  <%= link_to 'join', memberships_path(:membership => {:sub_club_id => sub_club}), :method => :post unless current_member.is_a_member_of?(sub_club) %>
	</div>
<% end %>
<br />

<%= link_to 'New Sub club', new_sub_club_path %>
