<p id="notice"><%= notice %></p>

<h2><b><%= @sub_club.name %></b></h2>

<p>
  <%= @sub_club.description %>
</p>

<ul>
	<% @sub_club.members.each do |member| %>
	  <li><%= link_to member.first_name, member %></li>
	<% end %>
</ul>