<%= form_for(@endeavor) do |f| %>
  <div class="field">
    <%= f.label :goal %><br />
    <%= f.select :goal_id, options_from_collection_for_select(Goal.all, :id, :title, @endeavor.goal_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
