#sxsw_intro {
  margin: 30px;
  font-size: 40px;
  line-height: 50px;
  a {
    color: #28e;
  }
}

#registration_stuff {
  a, form {
		float: right;
	}
	textarea {
		display: none;
	}
}

.hidden {
	display: none;
}

#content {
  border: 2px solid #003822;
  border-radius: 9px;
  background-color: #9CE4E8;
  color: #261C00;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 90px;
  padding: 12px;
}

#content a {
	color: #2E0DAE;
}

.clearboth {
  clear: both;
}