#sxsw_intro {
  margin: 30px;
  font-size: 40px;
  line-height: 50px;
  a {
    color: #28e;
  }
}

#registration_stuff {
  a, form {
		float: right;
	}
	textarea {
		display: none;
	}
}

.hidden {
	display: none;
}