// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#running_average {
  text-align: center;
  font-size: 1.15em;
  color: #eee;
}

.bronze {
  background-color: #B7552D;
}

.silver {
	background-color: #AEAEAE;
}

.gold {
	background-color: #AF8045;
}

.total {
	text-align: center;
	font-weight: bold;
}

#members_goals {
  border: 1px solid black;
}

#shuffle {
  float: right;
}